/* CSS for your cards */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust as needed */
    border: 1px solid #ff3131;
    padding: 10px;
    margin: 10px;
    /* Add any other styling you prefer */
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  p {
    margin-bottom: 5px;
  }
  
  /* Rest of your CSS styles */
  `
  /* Media query for light color scheme */
  @media (prefers-color-scheme: light) {
    /* Adjust styles for light mode */
    /* For example: */
    .card {
      border-color: #333;
      background-color: #fff;
      color: #333;
    }
  }
  
  :root {
    --primary-background-color: #fff; /* Light mode background color */
    --primary-text-color: #333; /* Light mode text color */
  }
  
  body.light { 
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    /* Other styles */
  }
  
  body.dark-mode{
    --primary-background-color: #333; /* Dark mode background color */
    --primary-text-color: #fff; /* Dark mode text color */
  }  