
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid transparent; 
  padding: 15px; 
  margin: 20px;
  position: relative;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease;
}
h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 1.4em; 
  margin-bottom: 8px; 
}
p {
  margin-bottom: 8px; 
}

#gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px; 
  padding: 20px; 
  margin: auto;
}

/* Light Theme */
.light {
  background-color: #f0f0f0; 
  color: #333333; 
}

/* Dark Theme */
.dark {
  background-color: #121212; 
  color: #ffffff; 

}
.light .card {
  background-color: #ffffff; 
  border: 2px solid #f0f0f0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

.light .card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.2); 
}


.dark .card {
  background-color: #1a1a1a; 
  border: 2px solid #333333; 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.1); 
  transition: all 0.3s ease; 
}
.dark .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2), 0 0 60px rgba(255, 255, 255, 0.2); 
}
#buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

#buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

#buttons button:hover {
  background-color: #0056b3; 
}
  
h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 4em;
    color: #333;
    text-shadow: 4px 4px 0px #007bff, 6px 6px 0px #0056b3; /* Add a shadow effect */
    margin-bottom: 20px;
    letter-spacing: 5px; /* Adjust spacing between letters */
  }